server/gateway/node_modules/
server/civitas/node_modules/
server/registration/node_modules/
server/template-ts/node_modules/
server/template-ts/dist/

node_modules/

.idea/
/server/registration/config/testing.json
